

<p>
To order photos Please contact me at XXX-XXX-XXXX or Send a e-mail at 
<a onClick="javascript:window.open('mailto:your@emil.com', 'mail');event.preventDefault()" href="mailto:your@emil.com">your@emil.com</a>
</p>

<p>
13x19 prints are $XXX.XX and 11x8.5 are $XX.XX
</p>

<span>I print with a canon pro 9500 mark II :</span>
<ul>
 <li>$XXX.XX 19x13 Ilford Galerie Prestige Gold Cotton Smooth</li>
 <li>$XX.XX&nbsp;&nbsp;11x8.5 Ilford Galerie Gold Fibre Silk </li>
 <li>$$XX.XX&nbsp;&nbsp;11x8.5 Ilford Galerie Smooth Pearl </li>
 
 </ul>